* {
    user-select: none;
    font-family: 'Work Sans', sans-serif;
}
:root {
    --mouse-x: 0;
    --mouse-y: 0;
    --border-round: 15px;
}
div {
    border-radius: var(--border-round);
}
#main {
    width: 90vw;
    height: 90vh;
}
#canvas {
    position: absolute;
    left: 10px;
    border: solid black 1px;
}
#users {
    width: 300px;
    position: absolute;
    right: 1vw;
    top: 1vw;
    height: 90vh;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 1.5vw;
}
#id {
    position: absolute;
    z-index: 10;
    background: white;
}
.tools {
    position: absolute;
    padding-top: 1.5vw;
    top: 500px;
}
.tooltip {
    visibility: hidden;
    position: absolute;
    transform: translateX(var(--mouse-x)) translateY(var(--mouse-y));
    width: 110px;
    padding: 1.5vw;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background: white;
}
.usersettings {
    position: absolute;
    padding: 1vw;
    padding-top: 0.6vw;
    transform: scale(0) rotate(180deg);
    opacity: 0.5;
    transition: transform 0.2s linear, opacity 0.4s ease;
    right: 1vw;
} 
.usersettings:hover {
    opacity: 0.7;
}

#clear {
    padding: 1.5vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: white;
}
#clear.guest {
    color: rgb(71, 71, 71);
    background-color: rgb(196, 196, 196);
    
}
#clear.guest:hover {
    cursor: not-allowed;
}
#clear.owner {
    color: rgb(0, 0, 0);
}
#clear.owner:hover {
    font-weight: bold;
}
.owner {
    color: rgb(255, 174, 0);
}
.guest {
    color: gray;
}
.me {
    color: turquoise;
}
.me.owner {
    color: rgb(255, 174, 0);
}
.p {
    display: inline-block;
    width: 20px;
    height: 100%;
    line-height: 2vw;
    background: white;
    transition: background-color 1s ease;
}
.c {
    width: 100%;
    overflow: hidden;
    height: 35px;
    line-height: 35px;
    float: right;
    box-sizing: border-box;
    border-radius: 0;
    box-shadow: 10px 0px 0px white inset;
    padding-left: 15px;
    
}
.c:hover .usersettings {
    transform: scale(1) rotate(0deg);
}

.useredit {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 1vw;
    transform-origin: top;
    transition: height 0.6s ease, padding 0.6s ease, margin 0.6s ease;
}
.useredit.closed {
    margin-top: 4vw;
    height: 0vw;
    padding-top: 0;
    padding-bottom: 0;
}
.useredit.open {
    margin-top: 4vw;
    height: 7vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}