* {
    user-select: none;
    font-family: 'Work Sans', sans-serif;
}
#main {
    width: 90vw;
    height: 90vh;
}
#canvas {
    position: absolute;
    left: 10px;
    border: solid black 1px;
}
#users {
    width: 300px;
    position: absolute;
    right: 1vw;
    top: 1vw;
    height: 90vh;
    background: white;
    border-radius: 2vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 1.5vw;
}
#id {
    position: absolute;
    z-index: 10;
    background: white;
}
.owner {
    color: rgb(255, 174, 0);
}
.guest {
    color: gray;
}
.me {
    color: turquoise;
}
.me.owner {
    color: rgb(255, 174, 0);
}
.p {
    display: inline-block;
    width: 20px;
    height: 100%;
    line-height: 2vw;
    background: white;
    transition: background-color 1s ease;
}
.c {
    width: 100%;
    overflow: hidden;
    height: 2vw;
    line-height: 2vw;
    float: right;
    box-sizing: border-box;
    box-shadow: 10px 0px 0px white inset;
    padding-left: 1vw;
}