
.colorwheel {
    width: 250px;
    height: 200px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(200px);
    padding: 10px;
    display: none;
    .hue, .light, .dark, #cw_space {
        width: 180px;
        height: 180px;
        backdrop-filter: none;
        position: absolute;
        display: block;
    }
    .hue {
        background: conic-gradient(red, magenta, blue, aqua, lime, yellow, red);
    }
    .light {
        background-color: white;
        z-index: 9;
        opacity: 0;
    }
    .dark {
        background-color: black;
        z-index: 9;
        opacity: 0;
    }
    #cw_space {
        z-index: 100;
        border: solid 2px red;
        overflow: hidden;
    }
    #cw_picker
    {
        width: 25px; height: 25px;
        border-radius: 12.5px;
        position: absolute;
        border: solid 1px white;
        border-color: white;
        z-index: 10;
        transform: translateX(0) translateY(0);
        background: var(--tool-color-0);
        transition: border-color 1s ease;
    }
    #cw_light_slider {
        position: absolute;
        transform: rotateZ(180deg);
        left: 25px;
        bottom: 10px;
        .slider {
            width: 180px;
            height: 25px;
            transform-origin: 0% 0%;
            transform: rotateZ(90deg);
        }
    }
}


