@mixin theme($theme: black) {
    background-color: $theme !important;
    color: black !important;
}
@mixin theme($theme: white) {
    background-color: $theme !important;
    color: white !important;
}
@mixin feedback($state) {
    background: linear-gradient(0deg, $state 0%, $state 100%) 0% 0%;
    background-size: 100% !important;
}
@mixin bad {
    background-color: $bad !important;
    color: rgb(95, 26, 26) !important;
}
$nz: calc(1vw + 1vh);
$good: rgb(158, 255, 162);
$bad: rgb(255, 173, 158);
$bl: rgba(92, 135, 205, 1);

@function s($mult) {
    @return calc($mult * var(--su));
}
@function m($base, $mult) {
    @return calc($base * $mult);
}

$md-breakpoint: 1000px;


* {
    user-select: none;
    font-family: 'Work Sans', sans-serif;
    cursor: default;
/*
    @media (prefers-color-scheme: light) {
        @include theme($theme: white)
    }
    @media (prefers-color-scheme: dark) {
        @include theme($theme: white)
    }
  */  

    box-sizing: border-box;
    //border: solid 1px red;
    
}


:root {
    --mouse-x: 0;
    --mouse-y: 0;
    --border-round: 15px;
    --pulse-width: 15;
    --su: calc(1vw + 1vh);
    --tool-color-0: var(--tool-color-1);
    --tool-color-1: red;
    --tool-color-2: black;
}
html {
    @media only screen and (max-width: 700px) {
        
    }
    overflow: hidden;
}
body {
    overflow: hidden;
    margin: -6px;
}
div {
    border-radius: var(--border-round);
}
#main {
    width: 100vw;
    height: 100%;
}
canvas {
    $canvas-scale: 1;
    transform-origin: center;
    background: url("") white no-repeat;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.4) !important;
    //background-size: cover;
    background-attachment: local;
    opacity: 1;
    filter: blur(0px);
    transition: filter 1s ease, opacity 1s ease;
}
.loading {
    opacity: 0.5 !important;
    filter: blur(100px) !important;
}
#alert {
    position: absolute;
    top: 5vh;
    display: none;
    transform: translateX(50%);
    &.item {
        padding: 1vw;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background: rgba(255, 255, 255, 1);
        font-size: calc($nz * 0.9);
        padding: calc($nz * 0.9);
        line-height: 200%;
    }
}
#error {
    position: absolute;
    top: 5vh;
    display: none;
    transform: translateX(50%);
    z-index: 200;
    &.item {
        @include bad;
        padding: 1vw;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        font-size: calc($nz * 0.7);
        padding: calc($nz * 0.9);
        line-height: 200%;
    }
}
#users {
    width: 300px;
    position: absolute;
    right: 1vw;
    top: 1vw;
    height: 90vh;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 1.5vw;
    overflow-y: auto;
    overflow-x: hidden;
    border: solid 10px white;
    @media only screen and (max-width: $md-breakpoint) {
        display: none;
    }
}
#users::-webkit-scrollbar {
    width: 8px;
}
#users::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: var(--border-round);
    background: rgb(230, 230, 230);
}
#id {
    position: absolute;
    z-index: 10;
    background: white;
}
#resp {
    position: absolute;
    top: 50px;
    z-index: 10;
    background: white;
}
.tools {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: sticky;
    left: 0;
    &.bot {
        bottom: 0;
        width: 100%;
        max-height: 10vh;
        padding: 1.5vw;
        & * {
            display: inline-block !important;
        }
    }
    &.left {
        $width: max(70px, 3vw);
        $pad: calc(max(70px, 3vw) * 0.125);
        $select: $bl;
        $no-select: gray;
        $select-g: $bl;
        $no-select-g: rgba(128,128,128,0.33);
        position: absolute;
        top: 10%;
        left: 1.5vw;
        width: $width;
        margin: 0;
        height: 60vh;
        padding: $pad;
        #tool_divider {
            padding: 0px $pad;
            height: 3px;
            background: rgba(146, 146, 146, 0.8);
            margin-bottom: $pad;
        }
        #bt_color1 {
            background: var(--tool-color-1);
        }
        #bt_color2 {
            background: var(--tool-color-2);
        }
        .button {
            background: white;
            padding: $pad;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            
            &.selected {
                animation: bounce_select alternate 3s infinite;
                animation-timing-function: ease-in-out;

                @keyframes bounce_select {
                    0% {
                        box-shadow: 0 0 20px rgba(92, 135, 205, 0.2);
                    }
                    50% {
                        box-shadow: 0 0 10px rgba(92, 135, 205, 1);
                    }
                    100% {
                        box-shadow: 0 0 20px rgba(92, 135, 205, 0.2);
                    }
                }


                svg {
                    & * {
                        &:not(.grad) {
                            fill: $select !important;
                            stroke: $select !important;
                        }
                    }
                    stop {
                        stop-color: $select-g;
                    }
                }

                &.enabled:active {
                    box-shadow: 0 0 10px rgba(92, 135, 205, 0.9) inset;
                }
                
            }
            &:not(.selected) {
                background: rgba(255, 255, 255, 0.5);
                
                svg {
                    & * {
                        &:not(.grad) {
                            fill: $no-select !important;
                            stroke: $no-select !important;
                        }
                    }
                    stop {
                        stop-color: $no-select-g;
                    }
                }
                &.enabled:active {
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
                }
            }
            &:not(:last-child) {
                margin-bottom: $pad;
            }
        }
        
        svg {
            width: m($width, 0.5);
            height: m($width, 0.5);
            padding: 0;
            margin: 0;
            .stop2 {
                stop-opacity: 0;
            }
        }
    }
    
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(200px);
    
    & #clear {
        padding: 1.5vw;
    }
}
.tooltip {
    visibility: hidden;
    position: absolute;
    transform: translateX(var(--mouse-x)) translateY(calc(var(--mouse-y) - 100px));
    width: 110px;
    padding: 1.5vw;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background: white;
}
.usersettings {
    position: absolute;
    padding: 1vw;
    padding-top: 0.6vw;
    transform: scale(0) rotate(180deg);
    opacity: 0.5;
    transition: transform 0.2s linear, opacity 0.4s ease;
    right: 1vw;
} 
.usersettings:hover {
    opacity: 0.7;
}
@keyframes glowbounce {
    from {
        box-shadow: 0 0 20px rgba(92, 135, 205, 0.3);
    }
    to {
        box-shadow: 0 0 20px rgba(92, 135, 205, 0.9);
    }
}
.button {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1.5vw;
    background: white;
    text-align: center;
    transition: box-shadow 1s ease;
    //animation: glowbounce 1s ease infinite alternate;
    //mix-blend-mode: lighten
}
.button.item:hover {
    box-shadow: 0 0 30px rgba(92, 135, 205, 0.8);
}
.button.disabled {
    color: rgb(71, 71, 71);
    background-color: rgb(196, 196, 196);
}
.button.disabled:hover {
    cursor: not-allowed;
}
.owner {
    color: rgb(255, 174, 0);
}
.guest {
    color: gray;
}
.me {
    color: turquoise;
}
.me.owner {
    color: rgb(255, 174, 0);
}
.p {
    display: inline-block;
    width: 20px;
    height: 100%;
    line-height: 2vw;
    background: white;
    transition: background-color 1s ease;
}
.c {
    width: 100%;
    overflow: hidden;
    height: 35px;
    line-height: 35px;
    float: right;
    box-sizing: border-box;
    border-radius: 0;
    box-shadow: 10px 0px 0px white inset;
    padding-left: 15px;
    
}
.c:hover .usersettings {
    transform: scale(1) rotate(0deg);
}

.useredit {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 1vw;
    transform-origin: top;
    transition: transform 0.6s ease, padding 0.6s ease, margin 0.6s ease;
    text-align: center;
}
.useredit.closed {
    margin-top: 4vw;
    transform: scaleY(0);
    padding-top: 0;
    padding-bottom: 0;
}
.useredit.open {
    margin-top: 4vw;
    transform: scaleY(1);
    padding-top: 1vw;
    padding-bottom: 1vw;
}
.useredit.kick {
    color: red;
}
.useredit.rename {
}

.field {
    width: 100%;
    height: 100%;
    //overflow-x: scroll;
    overflow: hidden;
    border: solid black 1px;
    background:rgb(71, 71, 71);
    
}
/*
.loading {
    width: 100vw;
    height: 100vh;
    display: none;
    &::before {
        color: white;
        position: absolute;
        transform: translateY(20vh) translateX(40vw);
        content: '↺';
        font-size: 20vw;
        animation: loader 3s ease-in-out infinite;
    }
    & * {
        display: none !important;
    }
    position: absolute;
    background: rgba(0, 0, 0, 0.7) !important;
    backdrop-filter: blur(10px);
    z-index: 1000;
    @keyframes loader {
        0% {
            transform: translateY(20vh) translateX(40vw) rotate(360deg);
        }
        100% {
            transform: translateY(20vh) translateX(40vw) rotate(0deg);
        }
    }
}*/

.pop {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0;
    box-shadow: 0px 0px 1000px rgba(0, 0, 0, 0.8) inset;
    z-index: 100;
    top: 0;
    left: 0;
    @media (prefers-color-scheme: light) {
        background: url("bear-pattern.png") white;
        background-size: 400px 400px;
        
        //background-position: var(--bg-offset) var(--bg-offset);
    }
    @media (prefers-color-scheme: dark) {
        background: url("bear-pattern.png") black;
        background-size: 400px 400px;
        //background-position: var(--bg-offset) var(--bg-offset);
    }
    animation: animbg 20s ease-in-out infinite alternate, loadfade 1s cubic-bezier(1,0,.63,.53) 1;
    @keyframes animbg {
        0% {
            background-position: 0px 0px;
        }
        50% {
            background-position: 400px 200px;
        }
        100% {
            background-position: 0px 400px;
        }
    }
    @keyframes loadfade {
        from {
            filter: brightness(0)
        }
        to {
            filter: brightness(1)
        }
    }
}

#landing {
    padding: 1vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 1);
    text-align: center;
    width: 30vw;
    overflow: hidden;
    //height: calc(min(40vw, 60vh));
    margin-left: 35vw;
    margin-top: 20vh;

    filter: none;
    #logo {
        margin-bottom: 15%;
        padding-top: 5%;
        img {
            width: 90%;
        }
    }
    .item {
        font-size: calc($nz * 0.9);
        margin-bottom: 5%;
        width: 100%;
        padding: calc($nz * 0.9);
        line-height: 200%;
        &.bg {
            background-size: 0%;
            transition: background-size 1s ease;
        }
        
    }
    .item.bot {
        margin-bottom: 0%;
    }
    .transparent {
        background-color:rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(200px) !important;
    }

    #join_sub_code {
        padding: 0% 5%;
    }

    input.code {
        
        &.entry {
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            &[type=number] {
                -moz-appearance: textfield;
            }
            position: relative;
            width: 13%;
            //padding-bottom: 11%;
            font-size: 1em;
        }
    }
    .good {
        background: linear-gradient(0deg, $good 0%, $good 100%) 0% 0%;
        background-repeat: no-repeat;
        background-size: 100% !important;
    }
    .bad {
        background: linear-gradient(0deg, $bad 0%, $bad 100%) 0% 0%;
        background-repeat: no-repeat;
        background-size: 100% !important;
    }

    .fnav {
        &.x {
            &::after {
                content: 'x';
                position: relative;
                float: right;
            }
        }
        &::after {
            content: '>';
            position: relative;
            float: right;
        }
    }

    .bnav::before {
        content: '<';
        position: relative;
        float: left; 
    }
}
.hide {
    display: none;
}

